<h1><%= @machine.location %> Vending Machine</h1>

<h2>Snacks</h2>

<% @machine.snacks.each do |snack| %>
  <article id="snack-<%= snack.id %>">
    <p><%= snack.name %>: <%= number_to_currency(snack.price) %></p>
  </article>
<% end %>

<h4>Average Price: <%= number_to_currency(@machine.snacks.average_price) %></h4>
