<h1><%= @machine.location %> Vending Machine</h1>

<%= @machine.snacks.each do |snack| %>
  <section id= "snack-<%= snack.id %>">
    <p>* <%= "#{snack.name}: $#{snack.price}" %></p>
  </section>
<% end %>
<hr>
<p>Average Price: $<%= @machine.average_price %></p>
